@import "./assets/scss/mixins";

.page-content--container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;

  .page-content {
    margin: 0 15px 15px;
    flex:  0 1 100%;
    display: flex;
  }

  .form-content {
    margin: 0 15px;
    flex: 0 1 100%;
  }

  .info-block {
    margin: 50px 15px 0;
    flex: 0 1 100%;
  }

  @include desktop {
    .page-content {
      margin: 0 15px;
      flex: 3;
    }

    .form-content {
      flex: 1;
    }
  }
}
