.content {
  box-shadow: 0 3px 6px #00000029;
  border-radius: 2px;
  opacity: 1;
  padding: 20px;

  &.primary {
    background: white;
    color: black;
  }

  .secondary {
    background: #E4E2F4;
  }
}
