.header-block {
  background: #4619ac url("../../assets/images/top-navigation-effect.png")
    no-repeat center center/cover;

  .header-content {
    max-width: 1145px;
    margin: 0 auto;
    padding: 25px 15px;
  }
}
