h2 {
  text-align: left;
  font-size: 30px;
  letter-spacing: 0.45px;
  color: #000000;
  opacity: 1;
  margin: 0 0 20px;
}

p {
  font-size: 14px;
  letter-spacing: 0.21px;
  color: #000000;
  opacity: 1;
  text-align: justify;
}
