h2 {
  text-align: left;
  font: normal normal bold 30px/39px Roboto;
  letter-spacing: 0.45px;
  color: #000000;
  opacity: 1;
  margin: 0 0 20px;
}

p {
  font: normal normal normal 14px/20px Roboto;
  letter-spacing: 0.21px;
  color: #000000;
  opacity: 1;
  text-align: justify;
}
