.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;

  label {
    text-align: left;
    font: normal normal normal 14px/19px Roboto;
    letter-spacing: 0.21px;
    color: #000000;
    opacity: 1;
    display: block;
    margin-bottom: 4px;
    flex: 0 0 100%;
  }

  input, textarea {
    background: transparent 0 0 no-repeat padding-box;
    border: 1px solid #00000034;
    border-radius: 2px;
    opacity: 1;
    width: 100%;
    padding: 5px;
    flex: 1;
  }
}
