.nav {
  display: flex;
  justify-content: flex-end;

  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

    li {
      &:last-of-type {
        a {
          margin-right: 0;
        }
      }
      a {
        font: normal normal bold 16px/21px Roboto;
        letter-spacing: 0.24px;
        color: #ffffff;
        text-transform: uppercase;
        text-decoration: none;
        opacity: 1;
        transition: 150ms;
        margin: 0 25px;

        &:hover {
          color: #fad32f;
        }
      }
    }
  }
}
