.form-content {
  &--title {
    text-align: left;
    font: normal normal bold 20px/26px Roboto;
    letter-spacing: 0.3px;
    color: #000000;
    opacity: 1;
    margin: 0;
    position: relative;

    &:after {
      content: "";
      width: 100%;
      border-bottom: 1px solid rgba(black, 0.2);
      position: absolute;
      left: 0;
      right: 0;
      bottom: -3px;
    }
  }

  &--description {
    font: normal normal normal 14px/20px Roboto;
    letter-spacing: 0.21px;
    color: #000000;
    opacity: 1;
    margin: 15px 0 30px;
  }
}
