.footer-block {
  background-color: #4619ac;
  margin: 0;
  padding: 25px 0;

  p {
    color: #FFFFFFBF;
  }

  &--container {
    max-width: 1145px;
    margin: 0 auto;
  }

  .footer-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    li {
      &:not(:first-of-type) {
        padding-left: 5px;
        list-style-image: url("../../assets/images/menu-item-icon.png");
      }
      a {
        color: white;
        margin: 0 30px 0 0;
        text-decoration: none;
        font-size: 14px;
      }
    }
  }
}
