html,
body {
  margin: 0;
  padding: 0;
  background-color: #F0F0FA;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.container {
  max-width: 1145px;
  margin: 0 auto;
  padding: 25px 15px;
}
