@import "../../assets/scss/mixins";

.info-block {
  &--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &--message {
    flex: 0 0 100%;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0.21px;
    color: #000000;
    opacity: 1;
    margin-bottom: 20px;

    @include desktop {
      flex-basis: 30%;
      margin-bottom: 0;
    }
  }
}
